<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="produits">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bateaux">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>Bateaux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recettes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
